* { box-sizing: border-box; }

html {
  background: url(assets/backgrounds/holodeck-tile-bg.png);
  box-shadow: inset 0 0 250px #000000;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

#game {
  background: #000 url(http://donothing.online/clock.gif) no-repeat center center fixed;
  width: 900px;
  height: 500px;
  margin: 0 auto;
  box-shadow: 0 0 15px 1px #000;
  transition: all 0.5 ease;
}
